.login-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url('../../../public/img/3.png');
  background-size: 100% 100%;
}

.login-weaper {
  margin: 0 auto;
  width: 1120px;
  display: flex;
  margin-top: -40px;
  .el-input-group__append {
    border: none;
  }
}

.login-left,
.login-border {
  min-height: 500px;
  align-items: center;
  flex: 0 0 560px;
}

.login-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  justify-content: center;
  flex-direction: column;
  background-color: #409eff;
  color: #fff;
  position: relative;
  background-image: url('../../../public/img/2.1.png');
  background-size: 100% 100%;
}

.login-border {
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  background-color: #fff;
  box-sizing: border-box;
}

.login-main {
  padding: 80px 80px 0 80px;
  box-sizing: border-box;
  text-align: center;
}

.login-title {
  margin-bottom: 60px;
  margin-top: 0;
}

.login-menu {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  a {
    color: #999;
    font-size: 12px;
    margin: 0px 8px;
  }
}

.login-submit {
  width: 100%;
  height: 45px;
  border: 1px solid #409eff;
  background: #409eff;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'neo';
  transition: 0.25s;

  &:hover {
    background-color: #409eff;
    color: #fff;
    border-color: #409eff;
  }
}

.login-form {
  i {
    color: #333;
  }

  .el-form-item__content {
    width: 100%;
  }

  .el-form-item {
    margin-bottom: 30px;
  }

  .el-input {
    // input {
    //   padding-bottom: 10px;
    //   text-indent: 5px;
    //   background: transparent;
    //   border: none;
    //   border-radius: 0;
    //   color: #333;
    //   border-bottom: 1px solid rgb(235, 237, 242);
    font-size: 16px;
    input {
      height: 40px;
      border: 1px solid #ebedf0;
      font-family: 'PingFang SC';
      color: #333;

      &::-webkit-input-placeholder {
        color: #bfbfbf;
        font-weight: 300;
        font-family: 'PingFang SC';
        font-size: 16px;
      }
    }
    // }

    .el-input__prefix {
      i {
        padding: 0 5px;
        font-size: 16px !important;
      }
    }
  }
}

.login-code {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 10px;
}

.login-code-img {
  margin-top: 2px;
  width: 100px;
  height: 38px;
  background-color: #fdfdfd;
  border: 1px solid #f0f0f0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 38px;
  text-indent: 5px;
  text-align: center;
  cursor: pointer !important;
}
